<div class="container" style="margin: 100px auto;">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar un nuevo producto</h4>
            <form action="/admin/productos/agregar" method="post" enctype="multipart/form-data"/>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="nombre" name="nombre">
                </div>
                <div class="mb-3 row">
                    <textarea type="text" class="form-control" cols="20" rows="5" maxlength="250" placeholder="descripcion" name="descripcion"></textarea>
                </div>
                <div class="mb-3  g-3 row">
                <div class="mb-3 col">
                    <input type="number" class="form-control" placeholder="stock" name="stock"></input>
                </div>
                <div class="mb-3 col">
                    <input type="number" class="form-control" placeholder="precio" name="precio"></input>
                </div>
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="categoria" name="categoria"></input>
                </div>
                 <div class="mb-3 row">
                    <label >Imagen: <input type="file" class="form-control" name="imagen" id="imagen"/></label>
                </div>
                
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
            <h5>{{message}}</h5>
            {{/if}}
        </div>
    </div>
</div>